.grand-child-counter-two-wrapper {
  background-color: #1e7de9;
  padding: 25px;
  border-radius: 16px;
  transition: all 1s ease-out;
}
.grand-child-counter-two-wrapper-dark {
  background-color: #48695d;
}
.grand-child-counter-two-theme {
  padding: 16px;
  border-radius: 16px;
  transition: all 0.5s ease-out;
}
.grand-child-counter-two-dark {
  color: white;
  background-color: black;
}

.grand-child-counter-two-light {
  color: black;
  background-color: white;
}
