.parent-counter-wrapper {
  background-color: #352332;
  padding: 15px;
  transition: all 1s ease-out;
}
.dark-mode-wrapper {
  background-image: url("public/pics/bg-desktop-dark.jpg");
}
.light-mode-wrapper {
  background-image: url("public/pics/bg-desktop-light.jpg");
}
.parent-counter-container {
  width: max-content;
  display: flex;
  background-color: #43d975;
  padding: 10px;
  gap: 10px;
}

.parent-header {
  background-color: green;
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.toggle-dark-mode-button {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  transform: scale(0.8);
  transition: all 1s ease-out;
}
.toggle-dark-mode-button:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.dark-mode-button {
  background-color: black;
}

.light-mode-button {
  background-color: white;
}
